@import url(tags.css);
@import url(utilitarios.css);

.perfil>div{
  height: 300px;
  background-color: gray;
}

@media (min-width: 500px) {
  .perfil>div{
    height: 500px;
    background-color: gray;
  }
}

.foto-perfil{
  border-radius: 50%;
  width: 300px;
}

.sobre{
  height: 300px;
  background-color: #d35353;
}